* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/140.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-underline {
    text-decoration: underline;
}

.d-block {
    display: block;
}

.text-right {
    float: right;
}

.d-flex {
    display: flex;
}

.flex-content {
    justify-content: space-between;
}